body {
  background-image: url("https://images.pexels.com/photos/1935902/pexels-photo-1935902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.image {
  margin-left: 34%;
  width: 23%;
  height: 23%;
}
.image2 {
  margin-top: 8%;
  margin-left: 34%;
  width: 23%;
  height: 23%;
}
.box {
  background: rgb(245, 242, 242);
  border: 1px solid black;
  float: left;
  margin-right: 1px;
  margin-top: 1px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  line-height: 90px;
}

.game {
  position: absolute;
  top: 46%;
  left: 46%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.title {
  font-family: Trattatello, fantasy;
  margin-left: 35%;
  margin-top: 3%;
  font-size: 70px;
  color: black;
}

.status {
  font-family: Bradley Hand, cursive;
}

.position {
  font-family: Impact, fantasy;
  font-size: 30px;
  color: purple;
}

.buttonposition {
  margin-left: 30%;
  width: 30%;
  height: 30%;
}
