body {
  background-image: url("https://images.pexels.com/photos/2904142/pexels-photo-2904142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.image {
  margin-left: 34%;
  width: 23%;
  height: 23%;
  margin-bottom: 10%;
}
.image2 {
  margin-top: 3%;
  margin-left: 34%;
  width: 23%;
  height: 23%;
}
.boarder {
  border-radius: 4%;
}
.box {
  background: rgb(245, 242, 242);
  border: 1px solid black;
  float: left;
  margin-right: 1px;
  margin-top: 1px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  line-height: 90px;
}

.game {
  position: absolute;
  top: 46%;
  left: 46%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.title {
  font-family: Trattatello, fantasy;
  margin-left: 35%;
  margin-top: 1%;
  font-size: 70px;
  color: black;
}

.status {
  font-family: Bradley Hand, cursive;
}

.position {
  font-family: Impact, fantasy;
  font-size: 50px;
  color: purple;
}

.buttonposition {
  margin-left: 30%;
  width: 30%;
  height: 30%;
}

.buttonposition2 {
  margin-top: 40%;
  margin-right: 10%;
  width: 5%;
  height: 5%;
}

.restart {
  font-family: Impact, fantasy;
  margin-left: 40%;
  margin-top: 15%;
  font-size: 50px;
  color: rgb(59, 50, 116);
}
.win {
  font-family: Impact, fantasy;
  font-size: 50px;
  margin-left: 14%;
  color: rgb(12, 186, 35);
}
.tie {
  font-family: Impact, fantasy;
  font-size: 50px;
  margin-left: 21%;
  color: rgb(128, 0, 23);
}
